.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
*~
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.db
*.cab
*.msi
*.msm
*.msp
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid
.tmp
*.log
*.sql
*.sqlite
*.sqlite3
*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep
.tsbuildinfo
.eslintcache
lib-cov
lcov.info
pids
logs
results
node_modules
.node_history
.yarn/*
!.yarn/cache
!.yarn/unplugged
!.yarn/patches
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log
.env
license.txt
exports
.strapi
dist
.strapi-updater.json
.strapi-cloud.json
*.pyc